/* @media screen and (max-width: 600px) { */
@font-face {
  font-family: "Segoe Script";
  src: url("/fonts/segoesc.ttf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  min-width: 500px;
}

/* Fenêtre modale globale */
#myModal {
  display: hidden;
  position: fixed; /* reste en positiion fixe*/
  z-index: 999; /* passe par dessus la première fenêtre */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* autorise le scroll si nécessaire*/
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* contenu du pop-up */
.modal-content {
  background: linear-gradient(
      rgba(240, 240, 240, 0.8),
      rgba(240, 240, 240, 0.8)
    ),
    url("../img/sardines_bg.jpg");
  position: fixed; /* position fixe */
  top: 8%;
  left: 10%;
  background-color: #fefefe;
  margin: auto; /* marges latérales automatiques */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border: 1px solid #565050;
  border-radius: 10px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.modal-content a {
  color: #4285f4;
}

/* Bouton pour fermer le pop up */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* bouton de fermeture du popup au survol */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ----- HEADER -----*/

header nav {
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
}

header .navbar-expand-lgt {
  background: #31353e;
}

header section#headerLandPage {
  display: flex;
  justify-content: stretch;
  height: 35vh;
}

header section#headerLandPage #philibertPicture {
  background-color: #daa49a;
  height: 100%;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header section#headerLandPage div#philibertPicture div {
  background: url("../img/philibert.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 80%;
  border: 4px solid #daa49a;
}

header section#headerLandPage div:nth-child(2) {
  width: 40%;
  height: 100%;
  background: #f8f9fa;
  color: #daa49a;
  display: flex;
  align-items: center;
  justify-content: center;
}

header section#headerLandPage div:nth-child(2) p {
  transform: rotate(-90deg);
  text-decoration: underline;
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

header section#headerLandPage section#headerPresentation {
  display: flex;
  flex-direction: column;
}

header section#headerPresentation div:nth-child(1) {
  height: 15vh;
  width: 100%;
  background: #f8f9fa;
}

header section#headerPresentation div:nth-child(1) #headerPunchLine {
  background: #f8f9fa;
  height: 15vh;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  top: 7.5vh;
}

header section#headerPresentation div:nth-child(1) #headerPunchLine h1 {
  font-size: 1.6rem;
  color: #31353e;
  text-align: center;
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
}

header #headerPresentation #headerAbout {
  height: 44vh;
  background: url("../img/sardine.png") center bottom no-repeat, #31353e;
  padding-top: 25%;
  padding-left: 15%;
  padding-right: 15%;
}

header #headerPresentation #headerAbout h2 {
  color: #eee9e9;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 200;
  padding-bottom: 10px;
}

header #headerPresentation #headerAbout p {
  color: #f8f9fa;
  text-align: justify;
  font-style: italic;
  font-weight: lighter;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f8f9fa;
}

main section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main section aside {
  background: #daa49a;
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section aside p {
  transform: rotate(-90deg);
  text-decoration: underline;
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  color: #eee9e9;
  font-weight: bold;
}

main section article {
  width: 65vw;
  height: 30vh;
  margin-bottom: 5vh;
  position: relative;
}

main section:nth-child(1) article {
  background: url("../img/Spices.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 25px;
}

main section:nth-child(2) article {
  background: url("../img/calanque.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 25px;
}

main section:nth-child(3) article {
  background: url("../img/whalers.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: 25px;
}

main section article #spiceBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 16vh;
  background: rgb(255, 255, 255, 0.7);
}

main section article #calanqueBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 16vh;
  background: rgb(255, 255, 255, 0.7);
}

main section article #whaleBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 16vh;
  background: rgb(255, 255, 255, 0.7);
}

main section article div {
  padding: 8px;
}

main section article h3 {
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
  color: #31353e;
}

main section article p {
  font-size: 0.8rem;
  font-weight: 600;
}

main section article button {
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background: #31353e;
  color: #eee9e9;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 8px;
}

main section article button:hover {
  opacity: 1;
}

#articleReadMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.card-text {
  font-style: italic;
}

/* -------- SIDE BAR --------  */

/* ----FLIP CARD --- */

.flip-card {
  position: fixed;
  top: 45%;
  right: 0;
  background-color: transparent;
  width: 80px;
  height: 80px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipSardine {
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #f8f9fa;
  cursor: pointer;
}

.flip-card-front {
  background: url("../img/sardine.png") center no-repeat, #31353e;
}

.flip-card-back {
  background: url("../img/flipped_sardine.png") center no-repeat, #31353e;
  transform: rotateY(180deg);
}

.navigation {
  position: fixed;
  right: 0;
  top: 50%;
  width: 0px;
  height: 50%;
  padding-top: 40px;
  border-radius: 8px;
  background: rgb(49, 53, 62, 0.9);
  border: solid 2px #f8f9fa;
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 250px;
}

.navigation ul {
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
  color: #f8f9fa;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
}

.navigation ul li {
  position: relative;
  width: 100%;
}

.navigation ul li:hover {
  font-weight: bold;
  text-decoration: underline;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  color: #daa49a;
}

.navigation ul li a .titre {
  position: relative;
  display: block;
  min-width: 0 10px;
  height: 50px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  padding-left: 10px;
}

.navigation h2 {
  font-family: "Segoe Script", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #daa49a;
  position: relative;
  display: block;
  min-width: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bolder;
  font-style: italic;
}

/* ----- FOOTER ----- */
footer {
  height: 100px;
  position: relative;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #f8f9fa;
}

.line {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: ;
}

.line-1 {
  z-index: 15;
  opacity: 0.2;
}

.line-2 {
  z-index: 10;
  opacity: 0.7;
}

.line-3 {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.wave1 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
}

.wave2 {
  -webkit-background-size: 50% 100px;
  background-size: 50% 80px;
  animation: animate 12s linear infinite;
}

.wave3 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.5);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

/* } ----- FIN MEDIA < 600PX ----- */
